@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Submit an Order</h2>
        <p>
            Sumbitting an order is pretty easy to do, and we'll do our best not to loose it.
        </p>
        <p><a class="btn btn-primary" href="/SubmitOrder">Go &raquo;</a></p>
    </div>
</div>