<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core"/>
  </configSections>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="orderprocessing.error" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="OrderProcessing.Commands" Endpoint="OrderManagement.ConsoleApp"/>
      <add Assembly="OrderEntry.Events" Endpoint="OrderManagement.OrderEntry"/>
      <add Assembly="Pricing.Events" Endpoint="OrderManagement.Pricing"/>
      <add Assembly="Scheduling.Events" Endpoint="OrderManagement.Scheduling"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <AuditConfig QueueName="audit" />
  <Logging Threshold="Warn"/>
</configuration>